@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-brand-green: #05d869;
    --color-brand-pink: #ff3366;

    --radius-4xl: 2rem;
    --radius-5xl: 2.5rem;

    --animate-float: float 6s ease-in-out infinite;

    @keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }
    }
}

@layer utilities {
    .gradient-text {
        @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-green to-brand-pink;
    }

    .gradient-bg {
        @apply bg-gradient-to-br from-brand-green to-brand-pink;
    }
}

html {
    scroll-behavior: smooth;
}